workflows/.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "HTTP Request: Get acessToken": {
      "main": [
        [
          {
            "node": "Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize msg": {
      "main": [
        []
      ]
    },
    "Ask for Product ID": {
      "main": [
        [
          {
            "node": "Update State to WAITING_FOR_PRODUCT_ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get State": {
      "main": [
        [
          {
            "node": "prepare agent context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Get State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get State",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If row exists": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "is message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request: Get acessToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is message": {
      "main": [
        [
          {
            "node": "If row exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepare agent context": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent": {
      "main": [
        [
          {
            "node": "HTTP Request: Get Product by ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request: Get all Products",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        []
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request: Get Product by ID": {
      "main": [
        [
          {
            "node": "Update State to IDLE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update State to WAITING_FOR_PRODUCT_ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request: Get all Products": {
      "main": [
        [
          {
            "node": "display all products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-19T21:19:33.805Z",
  "id": "8dwT8ad46-qTDhazzg3Ik",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "WhatsApp Agent",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mathe-leichtgemacht.de/api/login",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ident",
              "value": "spachtelprofi"
            },
            {
              "name": "password",
              "value": "spachtelprofi"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16,
        464
      ],
      "id": "ab946a2e-9eeb-4216-80ed-a4f4be312322",
      "name": "HTTP Request: Get acessToken"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const wa_id = $('WhatsApp Trigger').item.json.contacts[0].wa_id ?? '';\nconst message = $('WhatsApp Trigger').item.json.messages[0].text.body ?? '';\n\n\n\nreturn (\n  {\n    json: {\n      user_id: wa_id,\n      message: message\n    }\n  }\n);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1232,
        144
      ],
      "id": "7efe42e5-8292-4f38-8829-5ff53f1d0d35",
      "name": "normalize msg"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "906416842560656",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "Please provide a Product ID",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "71687cc6-2d0f-4835-87b1-f16a0aa30c36",
      "name": "Ask for Product ID",
      "webhookId": "e6227dc1-57a8-43fd-9d68-6ed194001d1a",
      "credentials": {
        "whatsAppApi": {
          "id": "lfOLV2Xk1iMETfI6",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "TBUJqxH12m24UaZD",
          "mode": "list",
          "cachedResultName": "User States",
          "cachedResultUrl": "/projects/qSOZXMvgNXXMUy37/datatables/TBUJqxH12m24UaZD"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -768,
        464
      ],
      "id": "2824cd34-8710-4c61-806f-e7d1335ce118",
      "name": "Get State"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "TBUJqxH12m24UaZD",
          "mode": "list",
          "cachedResultName": "User States",
          "cachedResultUrl": "/projects/qSOZXMvgNXXMUy37/datatables/TBUJqxH12m24UaZD"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
            "state": "IDLE"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -960,
        608
      ],
      "id": "67811efe-6b1c-43ac-a745-38c54464a2d4",
      "name": "Insert row"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "TBUJqxH12m24UaZD",
          "mode": "list",
          "cachedResultName": "User States",
          "cachedResultUrl": "/projects/qSOZXMvgNXXMUy37/datatables/TBUJqxH12m24UaZD"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $('normalize msg').item.json.user_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "state": "WAITING_FOR_PRODUCT_ID"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        176,
        0
      ],
      "id": "e1803650-3079-4b53-ba22-a25d6d15597d",
      "name": "Update State to WAITING_FOR_PRODUCT_ID"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "88c6dbdd-2109-42fd-8a48-f26408cad20d",
              "leftValue": "={{ $('If row exists').item.json}}",
              "rightValue": "[   {} ]",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1136,
        464
      ],
      "id": "371490a0-fe94-4260-8203-ad1436f8d299",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "rowExists",
        "dataTableId": {
          "__rl": true,
          "value": "TBUJqxH12m24UaZD",
          "mode": "list",
          "cachedResultName": "User States",
          "cachedResultUrl": "/projects/qSOZXMvgNXXMUy37/datatables/TBUJqxH12m24UaZD"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $json.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1312,
        464
      ],
      "id": "d19102bf-4f0e-4ac3-ba99-b9f055f0acf3",
      "name": "If row exists",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "TBUJqxH12m24UaZD",
          "mode": "list",
          "cachedResultName": "User States",
          "cachedResultUrl": "/projects/qSOZXMvgNXXMUy37/datatables/TBUJqxH12m24UaZD"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "state": "WAITING_FOR_PRODUCT_ID"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1264,
        128
      ],
      "id": "ab0cfda1-063e-448d-bb1f-11d3e10aaff6",
      "name": "Update State to WAITING_FOR_PRODUCT_ID1"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "TBUJqxH12m24UaZD",
          "mode": "list",
          "cachedResultName": "User States",
          "cachedResultUrl": "/projects/qSOZXMvgNXXMUy37/datatables/TBUJqxH12m24UaZD"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "state": "IDLE"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1344,
        -48
      ],
      "id": "016bf697-051b-4cde-90ae-919297e9db06",
      "name": "Update State to IDLE"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -1760,
        480
      ],
      "id": "711291bc-7a7a-4bd7-975c-cf0ba3fea027",
      "name": "WhatsApp Trigger",
      "webhookId": "cfb8789c-7069-4076-ad32-90a19456618b",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "mZOQwegw4HMmNKgw",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a WhatsApp shop assistant.\n\nYou receive a JSON object as input with the following structure:\n\n{\n  \"state\": \"<conversation state>\",\n  \"message\": \"<latest user message>\"\n}\n\nUse BOTH fields to determine the user's intent.\n\nRules:\n- If state is WAITING_FOR_PRODUCT_ID, the message is a reply to a previous request.\n- If state is IDLE, the message starts a new request.\n\nExtract intent and parameters.\n\nAllowed intents:\n- VIEW_PRODUCT\n- BROWSE_PRODUCTS\n- HELP\n- CANCEL\n- UNKNOWN\n\nIf a product ID is present, extract it as a number.\n\nRespond ONLY with valid JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -304,
        464
      ],
      "id": "6fc4d9ab-85e9-43c8-a0f1-31dd7b8b78a3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -320,
        720
      ],
      "id": "08052440-690c-471b-8266-332eb0893e67",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "OrEhAg3hQSbeZR36",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "73af8900-f7dc-42f4-9ebc-294e3395cdd3",
              "leftValue": "={{ $json.messages }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1552,
        480
      ],
      "id": "213f7f3a-2627-4375-975c-b6131b4f62ff",
      "name": "is message"
    },
    {
      "parameters": {
        "jsCode": "return ({\n  json: {\n    state: $input.first().json.state,\n    message: $('WhatsApp Trigger').first().json.messages[0].text.body\n  }\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        464
      ],
      "id": "cb541250-d33d-47c9-a4fe-0ad2081cc1ca",
      "name": "prepare agent context"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('AI Agent').item.json.output.intent }}",
                    "rightValue": "=VIEW_PRODUCT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8ac51aec-680b-42ae-9136-29b1eef8ef0b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "VIEW_PRODUCT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "03a4575c-32bf-4f28-8766-2aadf01b0ad5",
                    "leftValue": "={{ $('AI Agent').item.json.output.intent }}",
                    "rightValue": "BROWSE_PRODUCTS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BROWSE_PRODUCTS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ba943b57-1a22-4725-83cf-7afa8d8b7070",
                    "leftValue": "={{ $('AI Agent').item.json.output.intent }}",
                    "rightValue": "HELP",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HELP"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "179d8f00-e72c-49bb-b871-b47290486afc",
                    "leftValue": "={{ $('AI Agent').item.json.output.intent }}",
                    "rightValue": "CANCEL",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CANCEL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "69df864e-9244-4619-93a2-984e14ccb087",
                    "leftValue": "={{ $('AI Agent').item.json.output.intent }}",
                    "rightValue": "UNKNOWN",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "UNKNOWN"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        336,
        416
      ],
      "id": "0db22e6c-3d17-4d6a-b780-b668b9f9a563",
      "name": "Intent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"intent\": \"string\",\n  \"productId\": \"number | null\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -144,
        704
      ],
      "id": "ad46e6a5-507a-4b22-a8a7-23f4c1c8d000",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "url": "=https://api.mathe-leichtgemacht.de/api/product/id/{{ $('AI Agent').item.json.output.productId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('HTTP Request: Get acessToken').item.json.accessToken }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        592,
        96
      ],
      "id": "7f496365-7ba2-4c26-b96f-a11f785804f7",
      "name": "HTTP Request: Get Product by ID",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://api.mathe-leichtgemacht.de/api/product/1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('HTTP Request: Get acessToken').item.json.accessToken }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        592,
        320
      ],
      "id": "4f6da049-55f9-4b8e-85b8-4d4e372bcf4d",
      "name": "HTTP Request: Get all Products",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "906416842560656",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "=",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1008,
        336
      ],
      "id": "5d9807e6-178a-4704-a9e7-8fd0d3c84769",
      "name": "display all products",
      "webhookId": "5ff7c569-5b42-415f-abed-6af35d54f384",
      "credentials": {
        "whatsAppApi": {
          "id": "lfOLV2Xk1iMETfI6",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-19T21:19:33.805Z",
      "createdAt": "2026-01-19T21:19:33.805Z",
      "role": "workflow:owner",
      "workflowId": "8dwT8ad46-qTDhazzg3Ik",
      "projectId": "qSOZXMvgNXXMUy37"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-19T22:10:01.570Z",
  "versionId": "40ce919e-4bf1-4ef7-a458-deeb68e3c149"
}