workflows/iI3KJyvaZCUqMexG79HSL.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-16T00:06:19.191Z",
    "createdAt": "2026-01-15T23:57:32.153Z",
    "versionId": "10b342db-781a-4cc6-a8ae-c27f2e18117c",
    "workflowId": "iI3KJyvaZCUqMexG79HSL",
    "nodes": [
      {
        "parameters": {
          "path": "whatsapp",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -736,
          -272
        ],
        "id": "cd7dbd37-6cb1-4872-b708-f9fe4c76768c",
        "name": "Webhook",
        "webhookId": "acf2f7cd-9570-4923-922b-b76cf2c3b3c5"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "19aa6312-37d1-465e-8f5b-c362cc6b0e3d",
                "leftValue": "={{$json.query[\"hub.verify_token\"]}}",
                "rightValue": "n8n_verify",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "7aade80a-39e6-44cd-9207-d1f5511f9c8d",
                "leftValue": "={{$json.query[\"hub.mode\"]}}",
                "rightValue": "subscribe",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -480,
          -272
        ],
        "id": "aeb63e55-7b9c-4181-9e81-a94e780ad6c7",
        "name": "If"
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "={{$json.query[\"hub.challenge\"]}}\n",
          "options": {
            "responseCode": 200,
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "text/plain"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          -272,
          -368
        ],
        "id": "4fcf5d7b-1dd2-46d8-a771-f813ec8c0a4f",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "\nWrong Verification Token Provided",
          "options": {
            "responseCode": 403
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          -272,
          -176
        ],
        "id": "1c26bbdf-73a6-4e98-bc5a-b2b5bdf2fa21",
        "name": "Respond to Webhook1"
      },
      {
        "parameters": {
          "content": "## Verify Webhook Subscription",
          "height": 448,
          "width": 784,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -800,
          -448
        ],
        "typeVersion": 1,
        "id": "82b58c85-aff2-451b-91e4-dd471e0bf00c",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "updates": [
            "messages"
          ],
          "options": {
            "messageStatusUpdates": [
              "failed"
            ]
          }
        },
        "type": "n8n-nodes-base.whatsAppTrigger",
        "typeVersion": 1,
        "position": [
          128,
          -352
        ],
        "id": "48887cef-5598-4753-8782-c4ec4a7ac82c",
        "name": "WhatsApp Trigger",
        "webhookId": "ea39c64d-3233-466c-84b4-bcfe654ab675",
        "credentials": {
          "whatsAppTriggerApi": {
            "id": "mZOQwegw4HMmNKgw",
            "name": "WhatsApp OAuth account"
          }
        }
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "906416842560656",
          "recipientPhoneNumber": "=+{{ $('WhatsApp Trigger').item.json.messages[0].from }}",
          "textBody": "={{ $json.output }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1.1,
        "position": [
          672,
          -352
        ],
        "id": "650bc2a0-40c0-41ea-a812-181b8232855d",
        "name": "Send message",
        "webhookId": "acbf7662-05ac-47dd-9e0e-bf4fc20afe19",
        "credentials": {
          "whatsAppApi": {
            "id": "lfOLV2Xk1iMETfI6",
            "name": "WhatsApp account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Whatsapp Event Webhook Message Event Listener with AI Response",
          "height": 368,
          "width": 912,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          64,
          -416
        ],
        "typeVersion": 1,
        "id": "37fdaaaa-70d2-4fda-bf8b-d63b9eced6ec",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.messages[0].text.body }}",
          "options": {
            "systemMessage": "Du bist ein hilfreicher Assistent und antwortest auf WhatsApp-Nachrichten. Gehe dabei darauf ein, was der Nutzer sagt."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          336,
          -352
        ],
        "id": "698bfe1a-9dfa-44cb-a612-72252a818cbe",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          336,
          -192
        ],
        "id": "7bb2cf14-2711-4448-9ff2-0bd1c1d8015b",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "OrEhAg3hQSbeZR36",
            "name": "OpenAi account"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond to Webhook1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "WhatsApp Trigger": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send message": {
        "main": [
          []
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Send message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Omid Sedighi-Mornani",
    "name": "v0.1",
    "description": "Added WhatsApp Bot communication with direct AI model response",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-16T00:06:19.186Z",
        "id": 1,
        "workflowId": "iI3KJyvaZCUqMexG79HSL",
        "versionId": "10b342db-781a-4cc6-a8ae-c27f2e18117c",
        "event": "activated",
        "userId": "cf1e9a9b-7c78-4fa1-8082-862df3d67e20"
      }
    ]
  },
  "activeVersionId": "10b342db-781a-4cc6-a8ae-c27f2e18117c",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-15T17:40:10.990Z",
  "description": null,
  "id": "iI3KJyvaZCUqMexG79HSL",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "WhatsApp Flow",
  "nodes": [
    {
      "parameters": {
        "path": "whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -736,
        -272
      ],
      "id": "cd7dbd37-6cb1-4872-b708-f9fe4c76768c",
      "name": "Webhook",
      "webhookId": "acf2f7cd-9570-4923-922b-b76cf2c3b3c5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "19aa6312-37d1-465e-8f5b-c362cc6b0e3d",
              "leftValue": "={{$json.query[\"hub.verify_token\"]}}",
              "rightValue": "n8n_verify",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "7aade80a-39e6-44cd-9207-d1f5511f9c8d",
              "leftValue": "={{$json.query[\"hub.mode\"]}}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -480,
        -272
      ],
      "id": "aeb63e55-7b9c-4181-9e81-a94e780ad6c7",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{$json.query[\"hub.challenge\"]}}\n",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/plain"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -272,
        -368
      ],
      "id": "4fcf5d7b-1dd2-46d8-a771-f813ec8c0a4f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "\nWrong Verification Token Provided",
        "options": {
          "responseCode": 403
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -272,
        -176
      ],
      "id": "1c26bbdf-73a6-4e98-bc5a-b2b5bdf2fa21",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "content": "## Verify Webhook Subscription",
        "height": 448,
        "width": 784,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -800,
        -448
      ],
      "typeVersion": 1,
      "id": "82b58c85-aff2-451b-91e4-dd471e0bf00c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "failed"
          ]
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        128,
        -352
      ],
      "id": "48887cef-5598-4753-8782-c4ec4a7ac82c",
      "name": "WhatsApp Trigger",
      "webhookId": "ea39c64d-3233-466c-84b4-bcfe654ab675",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "mZOQwegw4HMmNKgw",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "906416842560656",
        "recipientPhoneNumber": "=+{{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        672,
        -352
      ],
      "id": "650bc2a0-40c0-41ea-a812-181b8232855d",
      "name": "Send message",
      "webhookId": "acbf7662-05ac-47dd-9e0e-bf4fc20afe19",
      "credentials": {
        "whatsAppApi": {
          "id": "lfOLV2Xk1iMETfI6",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Whatsapp Event Webhook Message Event Listener with AI Response",
        "height": 368,
        "width": 912,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        -416
      ],
      "typeVersion": 1,
      "id": "37fdaaaa-70d2-4fda-bf8b-d63b9eced6ec",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "Du bist ein hilfreicher Assistent und antwortest auf WhatsApp-Nachrichten. Gehe dabei darauf ein, was der Nutzer sagt."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        336,
        -352
      ],
      "id": "698bfe1a-9dfa-44cb-a612-72252a818cbe",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        336,
        -192
      ],
      "id": "7bb2cf14-2711-4448-9ff2-0bd1c1d8015b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "OrEhAg3hQSbeZR36",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-01-15T17:40:10.990Z",
      "createdAt": "2026-01-15T17:40:10.990Z",
      "role": "workflow:owner",
      "workflowId": "iI3KJyvaZCUqMexG79HSL",
      "projectId": "qSOZXMvgNXXMUy37",
      "project": {
        "updatedAt": "2026-01-15T17:36:50.677Z",
        "createdAt": "2026-01-15T17:35:39.156Z",
        "id": "qSOZXMvgNXXMUy37",
        "name": "Omid Sedighi-Mornani <osedighi99@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "cf1e9a9b-7c78-4fa1-8082-862df3d67e20",
        "projectRelations": [
          {
            "updatedAt": "2026-01-15T17:35:39.156Z",
            "createdAt": "2026-01-15T17:35:39.156Z",
            "userId": "cf1e9a9b-7c78-4fa1-8082-862df3d67e20",
            "projectId": "qSOZXMvgNXXMUy37",
            "user": {
              "updatedAt": "2026-01-16T00:07:08.919Z",
              "createdAt": "2026-01-15T17:35:38.236Z",
              "id": "cf1e9a9b-7c78-4fa1-8082-862df3d67e20",
              "email": "osedighi99@gmail.com",
              "firstName": "Omid",
              "lastName": "Sedighi-Mornani",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-15T17:37:01.047Z",
                "personalization_survey_n8n_version": "2.3.5",
                "companyType": "personal",
                "reportedSource": "friend"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "iI3KJyvaZCUqMexG79HSL",
                "userActivatedAt": 1768522025917
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-15",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2026-01-16T13:17:12.078Z",
  "versionCounter": 29,
  "versionId": "10b342db-781a-4cc6-a8ae-c27f2e18117c"
}